absl-py==2.0.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
asttokens==2.4.1
benchmarl==1.1.0
bpytop==1.0.68
cachetools==5.3.2
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.0
contourpy==1.2.0
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
distlib==0.3.7
docker-pycreds==0.4.0
executing==2.0.1
farama-notifications==0.0.4
filelock==3.13.1
flatbuffers==23.5.26
fonttools==4.47.2
fsspec==2024.2.0
gitdb==4.0.11
gitpython==3.1.41
godot-rl==0.7.0
google-auth-oauthlib==1.1.0
google-auth==2.23.4
grpcio==1.59.2
gym-notices==0.0.8
gym==0.26.2
gymnasium==0.28.1
h5py==3.10.0
huggingface-hub==0.20.3
huggingface-sb3==3.0
humanfriendly==10.0
hydra-core==1.3.2
idna==3.4
ipykernel==6.26.0
ipython==8.17.2
jax-jumpy==1.0.0
jedi==0.19.1
jinja2==3.1.2
jupyter-client==8.6.0
jupyter-core==5.5.0
kiwisolver==1.4.5
llvmlite==0.40.1
markdown==3.5.1
markupsafe==2.1.3
matplotlib-inline==0.1.6
matplotlib==3.8.2
mpmath==1.3.0
nest-asyncio==1.5.8
networkx==3.2.1
numba==0.57.1
numpy==1.24.4
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.15.0
onnxruntime==1.17.0
opencv-python==4.8.1.78
overrides==7.4.0
packaging==23.2
pandas==2.2.0
parso==0.8.3
pettingzoo==1.24.1
pillow==9.3.0
pip==23.3.1
platformdirs==2.6.2
prompt-toolkit==3.0.40
protobuf==4.23.4
psutil==5.9.6
pure-eval==0.2.2
pyasn1-modules==0.3.0
pyasn1==0.5.0
pygame==2.3.0
pyglet==1.5.27
pygments==2.16.1
pyparsing==3.1.1
pyreadline3==3.4.1
python-dateutil==2.8.2
pytz==2024.1
pywin32==306
pyyaml==6.0.1
pyzmq==25.1.1
requests-oauthlib==1.3.1
requests==2.31.0
rsa==4.9
scipy==1.11.3
sentry-sdk==1.40.0
setproctitle==1.3.3
setuptools==65.5.0
six==1.16.0
smmap==5.0.1
stable-baselines3==2.2.1
stack-data==0.6.3
sympy==1.12
tensorboard-data-server==0.7.2
tensorboard==2.15.1
tensordict==0.3.0
tianshou==0.5.1
torch==2.1.0+cu121
torchaudio==2.1.0+cu121
torchrl==0.3.0
torchvision==0.16.0+cu121
tornado==6.3.3
tqdm==4.66.1
traitlets==5.13.0
typing-extensions==4.8.0
tzdata==2024.1
urllib3==2.1.0
virtualenv==20.16.3
vmas==1.4.0
wandb==0.16.2
wasabi==1.1.2
wcwidth==0.2.9
werkzeug==3.0.1
wget==3.2